<div id="header">
        <%= render "header" %>
</div>

<% if flash[:notice] %>
<%= flash[:notice] %><br><br>
<% end %>

<br><br>
<p>　</p>
<% @Tweets.each do |tweet| %>
        <p>
                <%= tweet.message %><br>
                <%= image_tag "/get_image/#{tweet.id}" %><br>
                <%= (((Time.current - tweet.tdate).to_i) / 60) %>分前　　<%= link_to '編集・削除', "/tweets/#{tweet.id}" %>
        </p>
<% end %>

